gpytorch==1.5.0
scikit-learn
pyyaml
seaborn==0.11.2
xgboost==1.4.0
tqdm
numpy
openml==0.12.2
catboost
# auto-sklearn==0.14.5
hyperopt==0.2.5
configspace==0.4.21
# autogluon==0.4.0
uncertainty_metrics
wandb